<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net45" />
  <package id="cef.redist.x64" version="3.2526.1362" targetFramework="net45" />
  <package id="cef.redist.x86" version="3.2526.1362" targetFramework="net45" />
  <package id="CefSharp.Common" version="47.0.2" targetFramework="net45" />
  <package id="CefSharp.WinForms" version="47.0.2" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.8.1" targetFramework="net45" requireReinstallation="true" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net45" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" requireReinstallation="true" />
  <package id="NPOI" version="2.3.0" targetFramework="net45" requireReinstallation="true" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="sqlite-net-pcl" version="1.4.118" targetFramework="net45" requireReinstallation="true" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.5" targetFramework="net45" requireReinstallation="true" />
  <package id="SQLitePCLRaw.core" version="1.1.5" targetFramework="net45" requireReinstallation="true" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.5" targetFramework="net45" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.5" targetFramework="net45" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.5" targetFramework="net45" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.5" targetFramework="net45" requireReinstallation="true" />
</packages>